doctype html
html.no-js(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    title Ela's media
    meta(name='description', content='My book website')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(type="text/css" rel="stylesheet" href='/css/bootstrap.min.css')
    link(type="text/css" rel="stylesheet" href='/css/main.css')
  body
    include navbar.pug

    div.container-fluid
      .row-fluid
        .ul
          .span12
            .row-fluid
              .span6
                .li
                  h2 Books
                  each book in books
                        a(href="/books/" + book.slug height)
                          img(src=book.imageUrl width="260" height="400")
                        .caption
                          h3= book.title
                          h4 #{book.authorName}
            .row-fluid
              .span6
                .li
                  h2 Movies
                  each movie in movies
                        a(href="/movies/" + movie.slug)
                          img(src=movie.imageUrl width="260" height="400")
                        .caption
                          h3= movie.title
                          h4 #{movie.directorName}
