doctype html
html.no-js(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    title Ela's media
    meta(name='description', content='My book website')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(type="text/css" rel="stylesheet" href='/css/bootstrap.min.css')
    link(type="text/css" rel="stylesheet" href='/css/main.css')
  body
    nav.navbar.navbar-default.navbar-fixed-top(role='navigation')
      .container-fluid
        .navbar-header
          a.navbar-brand(href='/') Ela's media


    div.container-fluid
      .row-fluid
        .ul
          .span12
            .row-fluid
              .span6
                .li
                  h2 Books
                  each book in books
                    .card
                      a(href="/books/" + book.slug height)
                        img.card-img-top(src=book.imageUrl, width="260" height="400")
                        .card-block
                      h3.card-title= book.title
                      h4.card-title= book.authorName

            .row-fluid
              .span6
                .li
                  h2 Movies
                  each movie in movies
                    .card
                      a(href="/movies/" + movie.slug height)
                        img.card-img-top(src=movie.imageUrl, width="260" height="400")
                        .card-block
                      h3.card-title= movie.title
                      h4.card-title= movie.directorName
