doctype html
html.no-js(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    title= movie.title
    meta(name='description', content='My movie website')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(type="text/css" rel="stylesheet" href= "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous")
    link(type="text/css" rel="stylesheet" href='/css/main.css')
  body
    nav.navbar.navbar-default.navbar-fixed-top(role='navigation')
      .container-fluid
        .navbar-header
          a.navbar-brand(href='/') Ela's media
          form.form-inline.float-xs-right(action="/search" method="POST")
            input.form-control(name="query" type='text', placeholder='Search')
            button.btn.btn-outline-success(type='submit') Search

    div.container
      .row
        .col-sm-6.col-md-4
          img(class="img-fluid" src=movie.imageUrl width="260" height="400")
        .col-sm-6.col-md-4
          h2= movie.title
          h4 directed by #{movie.directorName}
          p= movie.description
          p Year of release: #{movie.releaseYear}
